<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.example.rcpmain.Application">
         </run>
      </application>
   </extension>
   <extension
         id="rcpmain"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.example.rcpmain.application"
            name="rcpmain">
         <property
               name="appName"
               value="rcpmain">
         </property>
      </product>
   </extension>

</plugin>
